.btn{
    width: 200px;
    height: 50px;
    background-color: white;
    color: red;
    border-radius: 17px;
    cursor: pointer;
    transition: all;
}


.btn:hover {
    background-color: aqua;
    border-radius: 99999px;
}